*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #ffb703;
}

body{
    height: 100vh;
    background-color: #023047;
    color: var(--cor-secundaria);
    box-sizing: border-box;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.imagem__perfil{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 5px solid var(--cor-terciaria) ;
}

.highlightTitle{
    color: var(--cor-terciaria);
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.presentation__content__title{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.presentation__content__text{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentation__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__subtitle{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.presentation__links__link{
   /*  background-color: #ffb703; */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.presentation__links__link img{
    height: 40px;
    width: 40px;     
}

.presentation__links__link:hover{
    background-color: #272727;
}

.rodape{
    color: var(--cor-primaria); 
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}